@import './base.css';
body {
  /*background: #00191A !important; */
}
#app {
  margin: 0 auto;
  padding: 5rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

tr.analysis-alert-row td:first-child {
  background-color: var(--red-200);
  color: white;
}

.nav-lg-item {
  padding: 20px 10px !important;
  color: var(--bluegray-500) !important;
}

.nav-lg-item.active-lg-item {
  color: var(--teal-700) !important;
  font-weight: bolder;
  
}

canvas {
  display: inline;
}

.plot-section {
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 25px;
}

.limitPane{
  max-width: 2048px;
  margin: auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }


}


